body {
  font-size: 16px;
}
/*individual style for h1*/
#my-h1 {
  color: blue;
  text-decoration: underline;
  text-transform: uppercase;
}

/*general designe for 'p'*/
p {
  color: rgb(220, 98, 23);
  font-size: 1.2em;
}

/*class for one paragraph*/
.posted-paragraph {
  color: rgb(41, 117, 28);
}

a:hover {
  color: rgb(30, 146, 111);
}

h3:first-of-type {
  color: blueviolet;
}

ol li:nth-child(even) {
  color: red;
}

ul li:nth-last-child(2) {
  color: red;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-size: 2rem;
}
